<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259692755005-o3hbi46lg7g8inddo98ljpmushhic92d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259692755005-o3hbi46lg7g8inddo98ljpmushhic92d</string>
	<key>API_KEY</key>
	<string>AIzaSyARNQQl3xCLdTKRW4LXEq5qi3oSBAAA3SE</string>
	<key>GCM_SENDER_ID</key>
	<string>259692755005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.FIT3178-Study-Frog</string>
	<key>PROJECT_ID</key>
	<string>fit3178-studyfrog</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-studyfrog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259692755005:ios:cf34549d93a3daa2255254</string>
</dict>
</plist>